@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  /* light mode colors */
  --brand-cta-lavender: #818cf8;
  --brand-cta-teal: #2dd4bf;

  /* brand gradient from right to left */
  --brand-gradient-r: #1f2937;
  --brand-gradient-l: #58759d;

  /* secondary brand from right via left */
  --brand-secondary-gradient-r: #499bac;
  --brand-secondary-gradient-v: #9a87c6;
  --brand-secondary-gradient-l: #2c1d78;
}

[data-theme='dark'] {
  /* Dark mode colors */
  --brand-cta-lavender: #a5b4fc;
  --brand-cta-teal: #5eead4;

  /* dark secondary brand gradient */
  --brand-secondary-gradient-l: #f9fafb;
  --brand-secondary-gradient-v: #9a87c6;
  --brand-secondary-gradient-r: #499bac;
}

@theme inline {
  /* fonts */
  --font-inter: Inter, 'sans-serif';
  --font-poppins: Poppins, 'sans-serif';

  /* colors */

  /* CTA */

  /* gradients */
  --color-brand-l: var(--brand-secondary-gradient-l);
  --color-brand-v: var(--brand-secondary-gradient-v);
  --color-brand-r: var(--brand-secondary-gradient-r);
}

@layer utilities {
  .brand-background {
    @apply bg-neutral-50 dark:bg-neutral-900 transition-colors duration-400;
  }

  .brand-primary {
    @apply dark:text-gray-100 text-gray-800 transition-colors duration-400;
  }

  .brand-secondary {
    @apply dark:text-gray-100/75 text-gray-800/75 transition-colors duration-400;
  }

  .brand-cta {
    @apply dark:bg-indigo-500 bg-indigo-600 transition-colors duration-400;
  }
}
